<div class="card-main-container">
    <div class="card-header-main-container">
        <div class="card-header-name-container">
            <div class="name-container">{{name}}</div>
            <div class="button-container">
                <button (click)="onClick($event)" class="faEllipsisH-btn">
                    <fa-icon [icon]=" faEllipsisH"></fa-icon>
                </button>
            </div>

        </div>
    </div>
    <my-app-addcard *ngIf='showAddCard'  class='add-card-options'></my-app-addcard>
    <div class="card-cardbox-container">
        <my-app-cardBox *ngFor="let task of tasks" [taskInfo]='task'></my-app-cardBox>
    </div>
    <app-card-input></app-card-input>

</div>