.main-container {
  display: flex;
  flex-direction: column;

  width: 350px;
  height: 200px;
  margin: 30px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.header-main-container {
  display: flex;
  height: 50px;
  background-color: rgba(211, 211, 211, 0.288);
  margin: -1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.header-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.name-container {
  display: flex;
  font-size: 20px;

}
