<div class="addCard-main-container">
    <div class="addCard-container">
        <div>
            <fa-icon [icon]="faPenAlt"></fa-icon>
            <button> Edit</button>
        </div>
        <div>
            <fa-icon [icon]="faTrash"></fa-icon>
            <button (click)='remove()'> Remove</button>
        </div>
        <div>
            <fa-icon [icon]="faPenAlt"></fa-icon>
            <button> Sort by due Date</button>
        </div>
        <div>
            <fa-icon [icon]="faPenAlt"></fa-icon>
            <button> Sort by priority </button>
        </div>
    </div>
</div>