.addCardForm-main-container {
  display: flex;
  border: 1px solid lightgray;
  //   min-width: 200px;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  margin-left: 30px;
  margin-top: 30px;
}
a{
    color: rgb(78, 78, 172);

}


.addCardForm-container {
  display: flex;
  flex-direction: column;
  //   border: 1px solid lightgray;
  //  min-width: 200px;
  //   padding: 30px;
  //   border-radius: 10px;


}

.addCardForm-input-container {
  display: flex;
  flex-direction: column;



}


.addCardForm-input {
  display: flex;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-bottom: 20px;

}

.addCardForm-input:hover {
  border-color: rgb(78, 78, 172);
}



.addCardForm-button-container {
  display: flex;

}

.addCardForm-add-btn {
  display: flex;
  width: 50px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* color: white; */
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 15px;
}

.addCardForm-cancel-btn {
  display: flex;
  width: 65px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
}
