<div class="addCardForm-main-container">
    <!-- <a *ngIf="!hideAddCardForm" (click)='hideAddCardForm = !hideAddCardForm'> Add a List.. </a> -->
    <a *ngIf="!hideAddCardForm" (click)='hideAddCard()'> Add a List.. </a>
    <div class="addCardForm-container" *ngIf="hideAddCardForm">
        <div class="addCardForm-input-container">

            <input type='text' class="addCardForm-input" placeholder="List Name" #cardname='ngModel' required
                minlength="0" [(ngModel)]='cardName'>
            <div>
                <span *ngIf='cardname.invalid'>List Name is required</span>

            </div>
        </div>
        <div class="addCardForm-button-container">
            <button class='addCardForm-add-btn' (click)='addCard(cardname)'>Add</button>
            <button class='addCardForm-cancel-btn' (click)='cancelCard()'>Cancel</button>
        </div>
    </div>
</div>