:host {

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .add-card-form{
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
