<my-app-header></my-app-header>
<app-add-card-form (added)='onAdded($event)'></app-add-card-form>

<div class="app-container">
    <my-app-card *ngFor='let card of cards1' [name]='card.status' [tasks]='card.info' (addedCardboxData)='cardBoxData($event)'  ></my-app-card>
    <!-- <my-app-card name='On Hold'></my-app-card>
    <my-app-card name='InProgress'></my-app-card>
    <my-app-card name='Done'></my-app-card> -->
</div>



<!-- <my-app-cardBox></my-app-cardBox> -->
<!-- <my-app-cardOptions></my-app-cardOptions> -->
