:host {

  // &:hover {
  //   background-color: lightsteelblue;
  // }

  .cardbox-main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    margin: 20px;
    position: relative;
  }
  .cardbox-main-container:hover{
    // background-color: rgb(199, 209, 223);
  background-color: #ddd;

  }

  .cardbox-tasks-container {
    display: flex;
  }

  .cardbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
   position: relative;
  }

  .cardbox-timesCircle-container {}

  .cardbox-flag-container {}

  .faEdit-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(54, 115, 196);
  }

  .faEdit-btn:hover {
    color: rgb(14, 55, 109);

  }

  .card-options {
    position: absolute;
    // right: 60px;
    right: 25px;
    background: white;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    // top: 127px;
    top: 40px;
    border-radius: 10px;
    z-index: 1;

  }
}
