<div class="cardOptions-main-container">
    <div class="cardOptions-container">
        <div>
            <fa-icon [icon]="faPenAlt"></fa-icon>
           <button>Edit</button>
        </div>
        <div>
            <fa-icon [icon]="faTrash"></fa-icon>
            <button (click)="remove()"> Remove</button>
           
        </div>
        <div>
            <fa-icon [icon]="faPenAlt"></fa-icon>
            <button> Move to On Hold</button>
           
        </div>
        <div>
            <fa-icon [icon]="faPenAlt"></fa-icon>
            <button> Move to In Progress</button>
          
        </div>
        <div>
            <fa-icon [icon]="faPenAlt"></fa-icon>
            <button> Move to Done</button>
         
        </div>
    </div>
</div>